/* 
    Document   : stdStyle
    Created on : 14-Mar-2009, 18:44:45
    Author     : rmh
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.body  {
	background : white;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	color : Black;
	font-size : 1em;
}

H1 {
    font-size : 1.6em;
    margin-top:0px;
    margin-bottom:5px;
}

H2 {
    font-size : 1.2em;
    margin-top:5px;
    margin-bottom:5px;
}

H3 {
    font-size : 1.1em;
    margin-top:5px;
    margin-bottom:5px;
}

P,UL,OL {
    margin-top:0px;
    margin-bottom:5px;
}

UL,OL {
    margin-left:-10px;
}

